body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0f0e0e;
    color: #23ce37;
}

#games-list {
    margin-bottom: 20px;
}

.game {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.review {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: rgb(28, 27, 27);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}